body {
    color: silver;
    background-color: rgb(48, 48, 48);
}

input {
    width: 300px;
    height: 100%
}

div {
    font-size: 20px;
}

.content {
    background: black;
    width: 100%;
    height: 400px;
    text-align: center;
}

.button {
    border: 1px solid silver;
    position: absolute;
    width: 50px;
    height: 80px;
}

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #8C8C8C;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.datagrid table td,
.datagrid table th {
    padding: 4px 10px;
}

.datagrid table tbody td {
    color: #7D7D7D;
    border-left: 2px solid #DBDBDB;
    font-size: 12px;
    border-bottom: 1px solid #000000;
    font-weight: normal;
}

.datagrid table tbody .alt td {
    background: #EBEBEB;
    color: #7D7D7D;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

#one {
    left: 200px;
}

#two {
    left: 150px;
}

#three {
    left: 100px;
}

#space {
    width: 100px;
    height: 100px;
    left: 250px;
}

#four {
    left: 350px;
}

#five {
    left: 400px;
}

#six {
    left: 450px;
}

#backspace {
    left: 550px;
    height: 50px;
}

#control {
    left: 0p;
    height: 50px;
}

@font-face {
    font-family: braille;
    src: url(braille.ttf);
}

.braille {
    font-family: 'braille';
}
