<!doctype html>
<html lang='en' ng-app='BrailleApp'>

<head>
    <meta charset='utf-8'>
    <title>BrailleApp</title>
    <link rel='stylesheet' href='assets/style.css'>
    <script src='bower_components/angular/angular.js'></script>
    <script src='js/BrailleCell.js'></script>
    <script src='js/Braille.js'></script>
    <script src='app.js'></script>
</head>

<body ng-controller='BrailleCtrl'>
    <div class="wrapper">
        <div id="menu">
            <div class="item dark" ng-click="view(1)">Brailler</div>
            <div class="item light" ng-click="view(2)">Jouer</div>
            <div class="item lighter" ng-click="view(3)">Embosser</div>
        </div>
        <div id="content">
            <div class="view darker" ng-show="view_selected === 0">
            </div>
            <div class="view dark" ng-show="view_selected === 1">
                Clavier : <input type="text" id="black" class="in" ng-model="input" ng-change="translate()"></input>
                Perkins : <input type="text" id="braille" class="in" ng-model="perkins" ng-keyup="fire($event)"></input>
                Perkins : <div id="braille" class="in" ng-keyup="fire($event)">{{braille}}</div>
            </div>
            <div class="view light" ng-show="view_selected === 2">

            </div>
            <div class="view lighter" ng-show="view_selected === 3">

            </div>
        </div>
    </div>
</body>

</html>
