<!doctype html>
<html lang='en' ng-app='BrailleApp'>

<head>
    <meta charset='utf-8'>
    <title>BrailleApp</title>
    <link rel='stylesheet' href='assets/style.css'>
    <link rel="icon" type="image/png" href="assets/favicon.png" />
    <script src='bower_components/angular/angular.js'></script>
    <script src='js/Mapping.js'></script>
    <script src='js/BrailleCell.js'></script>
    <script src='js/BrailleTest.js'></script>
    <script src='js/Speech.js'></script>
    <script src='app.js'></script>
</head>

<body ng-controller='BrailleCtrl'>
    <div class="wrapper">
        <div id="menu">
            <div class="item dark" ng-click="view(1)">Brailler</div>
            <div class="item light" ng-click="view(2)">Jouer</div>
            <div class="item lighter" ng-click="view(3)">Embosser</div>
        </div>
        <div id="content">
            <div class="view darker" ng-show="view_selected === 0"> </div>
            <div class="view dark" ng-show="view_selected === 1">
                <div>
                    <label for="black">Clavier : </label>
                    <input type="text" id="black" class="in" ng-model="input" ng-keypress="translate($event)"> </div>
                <div>
                    <label for="perckins">Perkins : </label>
                    <input type="text" id="perkins" class="in" ng-model="perkins" ng-keyup="fire($event)"> </div>
                <div>
                    <label for="braille">Braille : </label>
                    <div>
                        <div ng-bind-html="text | noir"> </div>
                        <div>
                            <div ng-bind-html="text | braille"> </div>
                            <div id="braille" class="braille"> {{braille}} </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="view light" ng-show="view_selected === 2">
                <h2>Questionnaire</h2>
                <div>
                    <label>Nom :</label>
                    <input type="text" id="name" value="Nathan"> </div>
                <div> Exercice :
                    <input type="file" id="fileUpload" /> </div>
                <button id="run_exo">C'est parti</button>
                <div class="datagrid" id="exo"> </div>
            </div>
            <div class="view lighter" ng-show="view_selected === 3">
                <div>
                    <select ng-model="mapping.current" ng-change="mapping.change()">
                        <option ng-repeat="(key,value) in mapping.conf">{{key}}</option>
                    </select>
                </div>
                <div>
                    <label for="max_lines">Lines : </label><input id="max_lines" type="number" ng-model="max_lines">
                    <label for="max_chars">Characters : </label><input id="max_chars" type="number" ng-model="max_chars">
                    <label for="pages">Pages : </label><span id="pages">{{pages}}</span>
                </div>

                <textarea id="input" rows="{{max_lines}}" cols="{{max_chars}}" ng-model="text_area_input" ng-change="toBrf()"></textarea>
                <textarea id="output" rows="28" cols="30" ng-model="text_area_output" ng-change="toBlack()"></textarea>
                <div>
                    Filename : <input type="text" ng-model="filename"></input>
                    <button ng-click='downloadBRF();'>Download BRF</button>
                    <div id="output2" rows="28" cols="31"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
